<%- include('../partials/header') %>

<main id="new-goal">

    <form action="/users?_method=PUT" method="POST">
        <div class="form-group form-row">   
            <div class="col">
                <label>Savings Goal:</label>
                <input type="text" name="goal" class="form-control" value="<%= goal.goal %>">
            </div>
            <div class="col">    
                <label>Why are you saving?:</label>
                <input type="text" name="savingsPurpose" class="form-control" value="<%= goal.savingsPurpose%>">
                <input hidden type="text" name="id" value="<%= goal._id %>">
            </div>    
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>

    <button onclick="location.href='/users'">Cancel</button>

</main>

<%- include('../partials/footer') %>