<%- include('../partials/header') %>

<main id="single-goal-view">

    <div class="progress">Goal Progress Visual</div>
    
    <form action="/users/goals/<%=goal._id%>/savings" method="POST"> 
        <div class="form-group">   
            <div class="form-row">
                <div class="col">
                    <label>Amount Saved</label>
                    <input type="text" name="savingAmount" class="form-control" placeholder="How much did you save?">
                </div>
                <div class="col">
                    <label>Saving Strategy</label>
                    <input type="text" name="savingStrategy" class="form-control" placeholder="What strategy did you use to save?"> 
                </div>
                <button type="submit" class="btn btn-success">Submit</button> 
            </div>
        </div>
    </form>

    <table>
            <thead>
                <tr>
                    <th>Saving Amount</th>
                    <th>Saving Strategy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% goal.progress.forEach(function(s) { %>
                <tr>
                    <td> <form action="/users/goals/<%= s._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete Savings</button>
                        </form>
                    </td>
                    <td> <%= s.savingAmount %> $ </td>
                    <td> <%= s.savingStrategy %> </td>
                </tr>
                <% }); %>
            </tbody>
        </table>

    <button onclick="location.href='/users'">Back to Profile</button>   

</main>
<%- include('../partials/footer') %>        
