<%- include('../partials/header') %>

<main class="container" id="single-goal-view">

    <div class= "mx-auto" id="progress-container">
        <canvas id="doughnut-chart" width="400" height="225"></canvas>
        <div id="progress"> <span id="percent"><%= goal.percentToComplete %>%</span></div>
        <div id="range-container">
            <h4 id="range-start">$0</h4>
            <h4 id="range-end">$<%=goal.goal %></h4>
        </div>
    </div>    
    
    <div>
    <form id="add-savings" action="/users/goals/<%=goal._id%>/savings" method="POST"> 
        <div class="form-group form-row">   
                <div class="col">
                    <input type="number" step="0.01"name="savingAmount" class="form-control" placeholder="Amount saved" required>
                </div>
                <div class="col">
                    <input type="text" name="savingStrategy" class="form-control" placeholder="Strategy used to save" required> 
                </div>
                <button type="submit" class="btn btn-success">Submit</button> 
        </div>
    </form>
    </div>  

    <div class= "mx-auto" id="savings-timeline">Savings Timeline</div>
    
    <table class="table">
   
            <tbody>
                <% goal.progress.forEach(function(s) { %>
                <tr>
                    <td scope="row"> $ <%= s.savingAmount %> </td>
                    <td> <%= s.savingStrategy %> </td>
                    <td>  
                        <form action="/users/goals/<%=goal._id%>/savings/<%=s._id%>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>


<script>    
new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      datasets: [{ 
          backgroundColor: ["#8e5ea2", 'gray'],
          data: [<%= goal.percentToComplete %>, <%= 100-goal.percentToComplete %>]
        }]
    },
    options: {
        rotation: 1 * Math.PI,
        circumference: 1 * Math.PI,
        tooltips: {
            enabled: false
            },

        title: {
        display: true,
        text: '<%=goal.savingsPurpose%>',
        fontSize: 40
      }
    }
});

</script>

</main>
<%- include('../partials/footer') %>        
