<%- include('../partials/header') %>

<main id="single-goal-view">

    <div id="progress"> You have saved <%= goal.percentToComplete %>% of your $<%=goal.goal %> goal for <%=goal.savingsPurpose %>!  </div>
    
    <form id="add-savings" action="/users/goals/<%=goal._id%>/savings" method="POST"> 
        <div class="form-group">   
            <div class="form-row">
                <div class="col">
                    <label>Amount Saved</label>
                    <input type="number" name="savingAmount" class="form-control" placeholder="How much did you save?">
                </div>
                <div class="col">
                    <label>Saving Strategy</label>
                    <input type="text" name="savingStrategy" class="form-control" placeholder="What strategy did you use to save?"> 
                </div>
                <button type="submit" class="btn btn-success">Submit</button> 
            </div>
        </div>
    </form>

    <div id="savings-timeline">Savings Timeline</div>
    
    <table class="table">
            <thead>
                <tr>
                    <th scope="col">Saving Amount</th>
                    <th scope="col">Saving Strategy</th>
                </tr>
            </thead>
            <tbody>
                <% goal.progress.forEach(function(s) { %>
                <tr>
                    <td scope="row"> $ <%= s.savingAmount %> </td>
                    <td> <%= s.savingStrategy %> </td>
                </tr>
                <% }); %>
            </tbody>
        </table>

</main>
<%- include('../partials/footer') %>        
