<%- include('../partials/header') %>

<main id="single-goal-view">

        <div class="goal-container">

            <div class="card"> 
                <div id="progress-container">
                    <div id="goal_title"><%=goal.savingsPurpose%></div>
                    <canvas id="doughnut-chart" width="400" height="225"></canvas>
                    <% if (goal.percentToComplete < 10) {%>
                    <% } else { %>
                        <div id="progress"><%= goal.percentToComplete %>%</div>
                    <% } %>
                    <div id="range-container">
                        <div id="range-start">$0</div>
                        <div id="range-end">$<%=goal.goal%></div>
                    </div>
                </div>
            </div>    

            <form id="add-savings" action="/users/goals/<%=goal._id%>/savings" method="POST"> 
                <input class="input form-control" type="number" step="0.01" name="savingAmount" placeholder="Amount saved" required>
                <input class="input form-control" type="text" name="savingStrategy" placeholder="Strategy used to save" required> 
                <button class="btn btn-success" type="submit" >Submit</button> 
            </form> 


            <div class="savings-table-container">

                <% if (goal.progress.length === 0){ %>
                <div class="savings-timeline">You have not entered any savings for this goal. Use the form above to get started.</div>
                <% } else { %>
                <div class="savings-timeline">Track Your Savings</div>
                <% } %>

                <% goal.progress.forEach(function(s) { %>
                <div id="savings-row">
                    <div> $ <%= s.savingAmount %> </div>
                    <div> <%= s.savingStrategy %> </div>

                    <form action="/users/goals/<%=goal._id%>/savings/<%=s._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-warning" type="submit">x</button>
                    </form>

                </div>
                <% }); %>
            </div>

        </div>    


        <script>    
                new Chart(document.getElementById("doughnut-chart"), {
                    type: 'doughnut',
                    data: {
                        datasets: [{ 
                            backgroundColor: ["#8e5ea2", "#EDEBEC"],
                            data: [<%= goal.percentToComplete %>, <%= 100-goal.percentToComplete %>]
                        }]
                    },
                    options: {
                        rotation: 1 * Math.PI,
                        circumference: 1 * Math.PI,
                        tooltips: {
                            enabled: false
                            },
                        title: {
                            display: false,
                            text: '<%=goal.savingsPurpose%>',
                            fontSize: 20,
                            fontColor: 'black'
                            },
                        responsive: true,
                    }
                    
                });
                    
            </script>

</main>
<%- include('../partials/footer') %>        
