<%- include('../partials/header') %>

<main class="container" id="user-profile">
    
    <% if (user.goals.length === 0){ %>
    <div id="welcome"> Welcome <%= user.name%>! You do not have any savings goals. Click the New Goal button to get started. </div>
    <% } %>
    
    <section>
        <% user.goals.forEach(function(g, idx) { %>
        <div id="goal-visual-container-<%=idx %>">
            <div class= "mx-auto" id="progress-container">
                <canvas id="doughnut-chart-<%=idx %>" width="400" height="225"></canvas>
                <div id="progress"><%= g.percentToComplete %>%</div>
                <div id="range-container">
                    <h4 id="range-start">$0</h4>
                    <h4 id="range-end">$<%=g.goal %></h4>
                </div>
            </div>
            <div class= "mx-auto" id="button-container">
                <div><button onclick="location.href='/users/goals/<%= g._id %>/savings/show'" class="btn btn-info">View</button> </div>
                <div>
                    <form action="/users/goals/<%= g.id%>/edit" method="GET">
                        <button type="submit" class="btn btn-secondary">Edit</button>
                    </form>
                </div>
                <div>
                    <form action="/users/goals/<%= g._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-warning">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        <script>    
                new Chart(document.getElementById("doughnut-chart-<%=idx %>"), {
                    type: 'doughnut',
                    data: {
                        datasets: [{ 
                            backgroundColor: ["#8e5ea2", '#EDEBEC'],
                            data: [<%= g.percentToComplete %>, <%= 100-g.percentToComplete %>]
                        }]
                    },
                    options: {
                        rotation: 1 * Math.PI,
                        circumference: 1 * Math.PI,
                        tooltips: {
                            enabled: false
                            },
                        title: {
                            display: true,
                            text: '<%=g.savingsPurpose%>',
                            fontSize: 40,
                            fontColor: 'black'
                            },
                    }
                });
                    
            </script>
        <% }); %>
    </section>




<%- include('../partials/footer') %>