<%- include('../partials/header') %>

<main id="user-profile">
    
    <div id="welcome"> Welcome <%= user.name%></div>

    <div id="savings-goals">Current Savings Goals</div>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% user.goals.forEach(function(g) { %>
            <tr>
                
                <td scope="row"> <strong><%= g.savingsPurpose %></strong></strong> </td>
                <td> <%= g.percentToComplete %> % </td>
                <td> $ <%= g.goal %> </td>
                <td> <button onclick="location.href='/users/goals/<%= g._id %>/savings/show'">View</button> </td>
                <td>
                    <form action="/users/goals/<%= g._id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                    </form>
                </td>
                <td> <form action="/users/goals/<%= g.id%>/edit" method="GET">
                        <button type="submit">Edit</button>
                    </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>

<button onclick="location.href='goals/new'" id="new-goal-button">Add New Goal</button>


<%- include('../partials/footer') %>