<%- include('../partials/header') %>

<main id="user-profile">
    
    <% if (user.goals.length === 0){ %>
    <div id="welcome"> Welcome <%= user.name%>! You do not have any savings goals. Click the New Goal button to get started. </div>
    <% } else { %>
    <div id="welcome"> Welcome <%= user.name%>!</div>
    <% } %>
    
    <div class="goal-container">
        <div class="goal-column-container">
        <% user.goals.forEach(function(g, idx) { %>
        <div class="card" id="goal-visual-container-<%=idx %>">
            <div id="progress-container">
                <div id="goal_title"><%=g.savingsPurpose%></div>
                <canvas id="doughnut-chart-<%=idx %>"></canvas>
                <div id="progress"><%= g.percentToComplete %>%</div>
                <div id="range-container">
                    <div id="range-start">$0</div>
                    <div id="range-end">$<%=g.goal %></div>
                </div>
            </div>
            <div id="button-container">
                <div>
                    <form action="/users/goals/<%= g.id%>/edit" method="GET">
                        <button type="submit" class="btn btn-secondary">Edit</button>
                    </form>
                </div>
                <button onclick="location.href='/users/goals/<%= g._id %>/savings/show'" class="btn btn-info">Add Savings</button> 
                <div>
                    <form action="/users/goals/<%= g._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-warning">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        <script>    
                new Chart(document.getElementById("doughnut-chart-<%=idx %>"), {
                    type: 'doughnut',
                    data: {
                        datasets: [{ 
                            backgroundColor: ["#8e5ea2", "#EDEBEC"],
                            data: [<%= g.percentToComplete %>, <%= 100-g.percentToComplete %>]
                        }]
                    },
                    options: {
                        rotation: 1 * Math.PI,
                        circumference: 1 * Math.PI,
                        tooltips: {
                            enabled: false
                            },
                        title: {
                            display: false,
                            text: '<%=g.savingsPurpose%>',
                            fontSize: 20,
                            fontColor: 'black'
                            },
                        responsive: true,
                    }
                    
                });
                    
            </script>
        <% }); %>
        </div>
    </div>




<%- include('../partials/footer') %>